<aside class="app-sidebar p-2 p-md-3">
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action" href="{% url 'products:list' %}">Produits</a>
    <a class="list-group-item list-group-item-action" href="{% url 'sales:quick' %}">Ventes</a>
    <a class="list-group-item list-group-item-action" href="{% url 'debts:list' %}">Dettes</a>
    <a class="list-group-item list-group-item-action" href="{% url 'stats:index' %}">Statistiques</a>
    <a class="list-group-item list-group-item-action" href="{% url 'history:index' %}">Historique</a>
  </div>
</aside>



