<div class="d-flex flex-column py-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="{% url 'dashboard' %}" class="nav-link sidebar-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <i class="fa-solid fa-house me-2"></i> <span class="label">Accueil</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'products:list' %}" class="nav-link sidebar-link {% if request.resolver_match.url_name == 'products:list' %}active{% endif %}">
        <i class="fa-solid fa-box me-2"></i> <span class="label">Produits</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'sales:quick' %}" class="nav-link sidebar-link {% if request.resolver_match.url_name == 'sales:quick' %}active{% endif %}">
        <i class="fa-solid fa-cart-shopping me-2"></i> <span class="label">Ventes</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'debts:list' %}" class="nav-link sidebar-link {% if request.resolver_match.url_name == 'debts:list' %}active{% endif %}">
        <i class="fa-solid fa-file-invoice-dollar me-2"></i> <span class="label">Dettes</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'stats:index' %}" class="nav-link sidebar-link {% if request.resolver_match.url_name == 'stats:index' %}active{% endif %}">
        <i class="fa-solid fa-chart-line me-2"></i> <span class="label">Statistiques</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'history:index' %}" class="nav-link sidebar-link {% if request.resolver_match.url_name == 'history:index' %}active{% endif %}">
        <i class="fa-solid fa-clock-rotate-left me-2"></i> <span class="label">Historique</span>
      </a>
    </li>
  </ul>
</div>
